.button {
	text-transform: uppercase;
	font-weight: 600;
	&.link {
		border: none;
		background-color: transparent;
		color: inherit;
		&.white {
			color: $white;
		}
		&.primary {
			color: $primary-color;
		}
	}
	&.white {
		color: $primary-color;
		background-color: $white;
		&.hollow {
			color: $white;
			background: transparent;
			border-color: $white;
		}
	}
	&.table-control {
		display: inline-block;
		padding: 0.85em 0.5em;
		margin: 0;
		width: 33%;
	}
}

//INDICATOR
.button__badge {
  background-color: #769705;
  border-radius: 0.125rem;
  color: white;
  padding: 1px 3px;
  font-size: 0.625rem;
  position: absolute;
  margin-top: 0.21rem;
}