.media-object {
	display: inline-block;
	.text-group {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			margin: 0;
		}
	}
	.media-object-section {
		&.flushed {
			padding-right: 0;
			padding-left: 0;
		}
	}
	&.expanded {
		display: table;
		width: 100%;
	}
}