.callout {
	padding: 1.5rem;
	&.hi-padded {
		padding: 3rem;
	}
	&.odd-padded {
		padding: 1.5rem 1.5rem 0.75rem;
	}
	&.graded {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a1657+0,751d71+100 */
		background: rgb(90,22,87); /* Old browsers */
        background: -moz-linear-gradient(45deg,  rgba(90,22,87,1) 0%, rgba(117,29,113,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg,  rgba(90,22,87,1) 0%,rgba(117,29,113,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg,  rgba(90,22,87,1) 0%,rgba(117,29,113,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a1657', endColorstr='#751d71',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        > * {
        	color: $white !important;
        	.subheader {
        		color: rgba($white, $W-subtext);
        	}
        }
	}
	&.white {
		border: 1px solid $white;
	}
}

.card {
	border: 1px solid rgba(42, 42, 42, 0.25);
	border-radius: 2px;
	margin-bottom: 1rem;
	> .callout {
		margin: 0;
		border: none;
	}
	&.clients, &.professionals, &.owners {
		transition: all ease-in 0.2s;
		&:hover {
			border-color: $primary-color;
			.button {
				color: $white;
				background-color: $primary-color;
			}
		}
	}
}

.menu {
	> li {
		> a {
			> img, > i {
				margin-top: -0.2rem;
				&:only-child {
					margin-right: 0;
				}
			}
		}
	}
	&.white {
		> li {
			> a {
				color: $white;
			}
		}
	}
}

.media-object-section {
	padding: 1rem;
}

.thumbnail {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
}

.breadcrumbs {
	margin: 0;
	li {
		font-size: 1rem;
	}
}

.tooltip {
	background-color: $secondary-color;
	line-height: 1.5em;
	&:before {
		border-color: transparent transparent $secondary-color;
	}
	&.top {
		&:before {
			border-color: $secondary-color transparent transparent;
		}
	}
}

.has-tip {
	border: none;
	font-weight: inherit;
	cursor: pointer;
}




// WEB APP STARTS HERE //

.text-right {
	text-align: right;
}

.v-align-center {
	margin: 0 auto;
	vertical-align: middle;
}

.inline {
	display: inline;
}

.borderless {
	border: 0px solid transparent;
}

.newsfeed-panel {
	&.callout {
		img {
			max-width: 3.125rem;
		}

		h5, span {
			margin-bottom: 0px;
		}

		.post-time {
			line-height: 2.9rem;
		}

		.post-img {
			position: relative;
		    vertical-align: middle;
		    background-color: $faint-gray;
			img {
				height: auto;
				width: 100%;
				max-width: 100rem;

			}

			&.fixed-size {
				img {
					width: 100%;
					height: 400px;
					object-fit: cover;
				}
			}

			.text-wrapper {
				position: absolute;
				padding: 0.5rem 1rem;
				width: 100%;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba($black, $B-subtext);
				> h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					margin: 0;
					color: $white;
				}
			}
		}

		.newsfeed-lgfont, .newsfeed-rgfont {
			color: rgba($base-body-font-color, $B-subtext);
			a{
				color: rgba($base-body-font-color, $B-subtext);
				&:hover {
					color: #6451A8;
				}
			}
		}

		.newsfeed-lgfont {
			font-size: 1.1875rem;
		}
	}

	width: 100%;
	max-width: 34.375rem;
	margin: 0 auto;
	margin-top: 1.25rem;
}

.profile {
	img {
		width: 100%;
		max-width: 3.125rem;
		height: 100%;
		max-height: 3.125rem;
		object-fit: cover;
		vertical-align: top;
	}

	small {
		position: absolute;
		top: 6.1rem;
		left: 4.6rem;
		color: rgba(100, 81, 168, .7);
	}

	span {
		vertical-align: 40% !important;
	}

	border-bottom: 1px solid rgba(100, 81, 168, .3);
}

.specials {
	background-color: rgba(0, 0, 0, .02);

	&:hover {
		background-color: rgba(0, 0, 0, .03);
		cursor: pointer;
	}
}

.disable {
	display: none !important;
}

.disable-link {
	pointer-events: none;
	cursor: default;
}

.enable {
	display: inline-block !important;
}

.off-canvas-wrapper {
	&.public-view {
		margin-bottom: 3.5rem;
	}
}


li.btn-login {
	padding-left: 2.7rem;
}



// DRAGGABLE //
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.classdrag {
	cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &:active {
    	cursor: grabbing;
	    cursor: -moz-grabbing;
	    cursor: -webkit-grabbing;
    }

    &.over {
    	border-top: 2px solid $primary-color !important;
    }
}

// DRAGGABLE ENDS //

.is-active > .accordion-title::before {
	display: none;
}

button.button{
	&.save {
		position: relative;
		margin: 0;
		float: right;
		top: -3.3rem;
		margin-right: 0.625rem;
		margin-bottom: -3.3rem !important;
	}
}

.ifempty {
	min-height: 20rem;
}


