.search-box, .message{
	position: relative;
	input{
		font-size: 0.875rem;
		border-radius: 2.5rem;
		text-align: center;
		background-color: $light-gray;
		height: 2rem;
		margin-bottom:0 !important;
	}
	input::after{
		content:"search"
	}
	input:invalid{
		width:5rem;
	}

	input:valid{
		width: 17rem;
	}

	input:focus{
	-webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: ease-in-out, width .2s ease-in-out;

    width:17rem;
	}

	h3{
		font-weight: lighter;
	}

	span.label{
		font-size: 2rem;
		line-height: 10%;
		transform: translateY(-20%);
		cursor: pointer !important;
	}

	&.home {
		color: $white !important;

		input {
			color: $white;
			border: 1px solid $white;
			padding: 0px;
			margin: 0px;
		}
		input::-webkit-input-placeholder {
			color: $white;
		}
		 
		input:-moz-placeholder { /* Firefox 18- */
			color:  $white;  
		}
		 
		input::-moz-placeholder {  /* Firefox 19+ */
			color:  $white;  
		}
		 
		input:-ms-input-placeholder {  
			color: $white;  
		}
	}
}


