.accordion {
	margin: 0;
	> li {
		&.is-active {
			.accordion-title {
				color: rgba($base-body-font-color, $B-text);
				background-color: $white;
			}
		}
		&:last-child {
			&.is-active {
				> .accordion-title {
					border-bottom-width: 1px;
				}
			}
			> .accordion-content {
				border: none;
			}
		}
	}
}

.accordion-title {
	padding: 1rem;
	font-size: 1.125rem;
	line-height: 1.5em;
	color: rgba($base-body-font-color, $B-subtext);
	&:hover, &:link, &:visited, &:active {
		color: rgba($base-body-font-color, $B-subtext);
		background-color: rgba($medium-gray, $B-dividers);
	}
}

.accordion-content {
	padding: 1rem;
}

ul#admin-dashboard {
	> li {
		> .accordion-title {
			font-weight: 600;
		}
	}
}