footer {
	padding: 2rem 0;
	background-color: $secondary-color;
	.footer-text {
		padding: 0.5rem 1rem;
	}
	.menu {
		li {
			a {
				color: $white;
			}
		}
		&.social-media {
			li {
				padding: 0 0.5rem;
				a {
					position: relative;
					width: 44px;
					height: 44px;
					border-radius: 50%;
					color: $primary-color;
					background-color: $white;
					i.fa {
						position: absolute;
						top: 40%;
						left: 30%;
					}
				}
			}
		}
	}
}