.top-bar {
	background-color: transparent;
	ul {
		background-color: transparent;
	}
	.menu {
		li {
			a {
				color: $white;
				text-transform: uppercase;
				transition: all ease-in 0.2s;
				-webkit-transition: all ease-in 0.2s;
				padding: 0.7rem 2rem;
				&.button {
					&:hover {
						color: $primary-color;
						background-color: $white;
						border-color: $white;
						box-shadow: none;
					}
				}
				&:hover {
					box-shadow: 0 2px 0 0 $white;
					-webkit-box-shadow: 0 2px 0 0 $white;
				}
			}
			&.bordered {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}
	.top-bar-title {
		display: inline-block;
		float: left;
		.logo {
			img {
				width: 180px;
				padding: 0 0.5rem;
			}
		}
	}
	.top-bar-title,
	.top-bar-left,
	.top-bar-right {
		padding: 2rem 0;
	}
	&.dark {
		.menu {
			li {
				a {
					color: $white;
					&.button {
						color: $white;
						border-color: $white;
					}
					&:hover {
						box-shadow: 0 2px 0 0 $white;
						-webkit-box-shadow: 0 2px 0 0 $white;
					}
				}
			}
		}
	}
}