body {
	background-color: $faint-gray;
	text-rendering: optimizeLegibility;
}

.off-canvas-content, .off-canvas-content {
	background-color: $faint-gray;
}

.row {
	display: block;
}

.marginless {
	margin: 0 !important;
}

.mt-half {
	margin-top: 0.5rem !important;
}

.mt-1 {
	margin-top: 1rem !important;
}

.mt-2 {
	margin-top: 2rem !important;
}

.ml-half {
	margin-left: 0.5rem !important;
}

.ml-1 {
	margin-left: 1rem !important;
}

.ml-2 {
	margin-left: 2rem !important;
}

.mr-half {
	margin-right: 0.5rem !important;
}

.mr-1 {
	margin-right: 1rem !important;
}

.mr-2 {
	margin-right: 2rem !important;
}

.mb-1 {
	margin-bottom: 1rem !important;
}

.mb-2 {
	margin-bottom: 2rem !important;
}

.mb-5 {
	margin-bottom: 5rem !important;
}

.flexed {
	display: table;
	.flexed-item {
		display: table-cell;
		vertical-align: middle;
	}
}

.thumbnail {
	&.circle {
		border-radius: 50%;
	}
	&:hover {
		box-shadow: none;
	}
}

.transparent {
	background: transparent !important;
}

.borderless {
	border: none !important;
}

.border-top {
	border-top: 1px solid rgba($black, $B-dividers);
}

.white {
	color: $white;
	.subheader {
		color: rgba($white, $W-hinttext);
	}
}

section {
	padding: 5rem 0;
    border-bottom: 1px solid rgba($black, $B-dividers);
	&#features-section {
		background: $white url('../img/wave-transp.png') no-repeat center center;
		background-size: cover;
		.callout {
			h1,
			h2,
			h3,
			h4,
			h5 {
				font-weight: normal;
			}
		}
	}
	&.section-cta {
		padding: 5rem 0;
		// background: transparent;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c86dd7+0,3023ae+100 */
        background: rgb(200,109,215); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(200,109,215,1) 0%, rgba(48,35,174,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(200,109,215,1) 0%,rgba(48,35,174,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(200,109,215,1) 0%,rgba(48,35,174,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c86dd7', endColorstr='#3023ae',GradientType=0 ); /* IE6-9 */
        > * {
        	color: $white;
        }
        .subheader {
        	color: $white;
        }
		&.image-bg {
			position: relative;
			overflow: hidden;
			z-index: 1;
			color: $white;
			background: rgba($light-gray, $B-disabled) url('../img/stylist-tools-closeup.jpg') no-repeat center center;
			background-size: cover;
			&:before {
				content: '';
    			bottom: 0;
    			left: 0;
    			right: 0;
    			top: 0;
    			z-index: -1;
    			position: absolute;
                background: -moz-linear-gradient(left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.06) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.06) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.06) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
               filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#0fffffff',GradientType=1 ); /* IE6-9 */
			}
		}
		.menu {
			> li {
				> a {
					color: $white;
				}
			}
		}
	}
	.section-heading {
		margin-bottom: 3rem;
	}
}

.jumbotron {
	min-height: 900px;
	padding: 0;
	background-color: -moz-linear-gradient(left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.06) 100%); /* FF3.6-15 */
	background-color: -webkit-linear-gradient(left, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.06) 100%); /* Chrome10-25,Safari5.1-6 */
	background-color: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.06) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#0fffffff',GradientType=1 ); /* IE6-9 */
	background: $primary-color url('../img/stylist-tools-cropped-left.jpg') 0 -230px no-repeat;
	background-size: cover;
	background-attachment: fixed;
	.cta {
		padding: 5rem 0;
		.callout {
			padding: 2rem;
			background-color: transparent;
			border: none;
		}
		img {
			// box-shadow: 2rem 2rem 1rem rgba($black, 0.12);
		}
		h1,
		h2,
		h3,
		h4,
		h5 {
			color: $white;
		}
		h1 {
			
			font-size: 4.1875rem;
			line-height: 1.2em;
		}
		.subheader {
			color: rgba($white, $B-subtext);
		}
		ul.menu {
			margin-top: 2rem;
			display: inline-block;
			border: 2px solid $white;
			border-radius: 2px;
			li {
				color: $white;
				a.button {
					color: $white;
					background-color: transparent;
					text-transform: none;
					padding: 1rem;
					font-weight: bold;
					border-radius: 0;
					&:hover {
						color: $primary-color;
						background-color: $white;
					}
				}
			}
		}
	}
}

.scene-screen {
	position: relative;
	.screen {
		position: absolute;
		top: 16.6%;
		left: 10%;
		width: 79.7%;
		height: auto;
	}
}

.scene {
	margin-top: 3rem;
	margin-bottom: -5rem;
	img {
		max-width: 70%;
	}
}

.dashboard-main {
	.top-bar {
		color: $white;
		border-bottom: 1px solid rgba($black, $B-dividers);
		.top-bar-right {
			padding: 0;
		}
	}
}

.dashboard-menu {
    background-color: $secondary-color;
    > li {
    	&.active {
    		a {
    			color: rgba($white, $W-text);
    			background-color: rgba($primary-color, $B-subtext);
    		}
    	}
    	&.footer {
    		width: 100%;
    		position: absolute;
    		bottom: 0;
    		> a {
    			border-top: 1px solid rgba($white, $W-dividers);
    		}
    	}
    	> a {
    		color: rgba($white, $W-text);
	    	font-size: 1rem;
	    	padding: 0.875rem !important;
	    	transition: all ease-in 0.2s;
	    }
    }
}

.dashboard-menu-text {
	margin: 0;
	padding: 1rem;
	line-height: 1;
	color: rgba($white, $W-subtext);
	background-color: $primary-color;
	.logo {
		img {
			width: 40%;
		}
	}
}

.dashboard-menu-title {
	text-transform: uppercase;
    font-size: 0.75rem;
    color: rgba($white, $W-subtext);
    font-weight: bold;
    line-height: 1;
    padding-left: 0.9rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    padding-top: 1.5rem;
}

.img-wrapper {
	overflow: hidden;
	border: 1px solid rgba($black, $B-dividers);
	&.circle {
		border-radius: 50%;
	}
}

.user-profile {
	position: relative;
	border-radius: 2px;
	border: 1px solid rgba($black, $B-dividers);
	background-color: $white;
	margin-top: 1rem;
	.img-wrapper {
		width: 10rem;
		height: 10rem;
		> img {
			width: 10rem;
			height: auto;
		}
	}
	.button {
		display: block;
		margin-top: 1rem;
	}
	.menu {
		margin-top: 2rem;
	}
	.empty {
		font-style: italic;
	}
	.media-object-section {
		padding: 2rem;
	}
}

.upload-image {
	.img-wrapper {
		width: 100px;
		height: 100px;
		float: left;
		margin-right: 1rem;
		> img {
			width: 100px;
			height: auto;
		}
	}
	.menu {
		margin-top: 1rem;
		li {
			padding-right: 1rem;
		}
	}
}

.shop-entry {
	margin: 0;
	position: relative;
	background-color: $faint-gray;
	.media-object-section {
		vertical-align: middle;
	}
	.main-section {
		h1,
		h2,
		h3,
		h4,
		h5 {
			font-weight: normal;
		}
	}
	.options {
		visibility: hidden;
		position: absolute;
		padding: 2.5rem 1rem;
		height: 100%;
		top: 0;
		right: 0;
		transition: all ease-in 0.2s;
	}
	.img-wrapper {
		width: 5rem;
		height: 5rem;
		> img {
			width: 5rem;
			height: auto;
		}
	}
	&:hover {
		background-color: $white;
		.options {
			visibility: visible;
		}
	}
}