.report-section-title{
	padding: 1rem 1rem 2rem 0rem;
	// margin-bottom:1rem;
	font-size: 1rem;
	line-height: 0.8;
	color: rgba($base-body-font-color, $B-subtext);
	font-family: $header-font-family;
	}

.searchtxt{
	width: 20rem;
	height:2rem;
}

.ratings{
	padding-right:1rem;
	visibility:visible !important;
	color:$primary-color;
	li i{
		padding: 0 .25rem;
		color:$primary-color !important;
	}
}

.accordhead{
	padding: 0 1rem;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: rgba(39, 43, 65, 0.54);
    font-weight: bold;
}

.date1{
	text-align:center;

	hr{
		margin: .1rem 0;
	}
	h5{
		border-bottom: 2px solid #323232 ;
	}	
	p{
		margin: 0;
	}
	h4{
			margin-bottom: 0rem !important;
		}
		h1{
			margin-bottom:0rem !important;
		}

}

.container{
	position: relative;
	border-radius: 2px;
	border: 1px solid rgba($black, $B-dividers);
	background-color: $white;
	margin-top: 1rem;
}