.reveal {
	.newsfeed-panel {
		width: 100%;
		max-width: 60rem;
	}

	.main-post {
		border-right: 1px solid rgba(42, 42, 42, 0.1);
	}
}

.newsfeed-modal {

		.comments {
			img {
				width: 100%;
				max-width: 2.25rem;
			}

			a, p, label{
				font-size: 0.87rem;
			}

			a {
				font-weight: bold;
			}

			label>a {
				font-weight: normal;
			}
			max-height: 423px;
			overflow-y: scroll;
		}


		.reply	{
			img {
				max-width: 2.25rem;
			}
			background-color: #F8F8F8;
		}

	width: 100%;
	max-width: 60rem;
	border-radius: 5px;
}