.callout {
	padding: 1.5rem;
}

.menu > li > a > img, .menu > li > a > i {
	margin-top: -0.2rem;
}

.media-object-section {
	padding: 1rem;
}

.callout {
	&.transparent {
		border: none;
		background-color: transparent;
		margin-bottom: 0;
	}
}

.thumbnail {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
}