@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.h1 {

}

.h2 {

}

.h3 {

}

.h4 {
	font-size: 1.2rem;
}

.h5 {

}

.page-lead {
	color: rgba($base-body-font-color, $B-subtext);
	font-weight: normal;
	font-size: 1.25rem;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1.5rem;
}

.page-lead-button {
	margin-top: 1.2rem;
	display: inline-block;
}

.text-upper {
	text-transform: uppercase;
}

.type-normal {
	font-family: $body-font-family;
	font-weight: normal !important;
}

.subheader {
	color: rgba($base-body-font-color, $B-subtext);
}

.badge{
	font-size:1rem ;
}

.breadcrumbs li{
	font-size:.8rem !important;
}